body {
  background-color: #ff00b314;
  font-family: 'georgia', serif;
}

head {
  background-color: #16112c;
}

h1,
h2,
h3,
h4 {
  color: #9f5696;
}

h1,
h2 {
  font-family: 'georgia', serif;
  margin: 0;
}

h1 {
  border-bottom: 2px solid #9f5696;
}

h2 {
  font-size: 1.2em;
}

img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

p {
  color: #cccccc;
  font-style: oblique;
}

.padditional {
  color: #6faaf3;
  font-size: .75em;
  font-style: italic;

}
a {
  color: #c1d2e7;
  font-size: .75em;
  text-decoration: none;
}

a:hover {
  border-color: #aaaaaa;
  color: #9f5696;
}

.pane {
  position: absolute;
  left: 25%;
  border: 2px solid;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
  border-color: #999999;
  background-color: #333333
}

.panelogin {
  position: absolute;
  left: 25%;
  border: 2px solid;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
  border-color: #999999;
  background: #e70505;
}

.source {
  position: absolute;
  font-size: 10px;
  font-style: italic;
  left: 25%;
  color: #8e8d8d;
}

.editdeletepane{
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
}

.category {
  font-size: 1.3em;
  font-style: oblique;
  color: #cccccc;
}

.creator {
  font-size: 10px;
  font-style: italic;
  left: 25%;
  color: #6faaf3;
}

.flash {
  color: #ffbe00;
  background: #40505a;
}

.flashSuccess {
  color: #399621;
  background: #40505a;
}

.flashError {
  color: #e60a1e;
  background: #40505a;
}
