<!DOCTYPE html>


<html lang="en">


<head>
	<link rel=stylesheet type=text/css href="
		{{ url_for('static', filename='styles.css') }}
		">
	<title>Categories</title>
	</head>

<body>
<div class = 'pane'>

	<p><a href="{{url_for('showLogin')}}">log in  |</a>
	<a href="{{url_for('gdisconnect')}}">log out</a></p>

	<!--MESSAGE FLASHING -->
	{% with messages = get_flashed_messages() %}
	{% if messages %}

	{% for message in messages %}
		<p class='flash'><strong>{{message}}</strong></p>
		{% endfor %}
	{% endif %}
	{% endwith %}
	<!--END of MESSAGE FLASHING -->

	<h1>Accounting Categories</h1>

	{% for i in category %}
		<div>
			<p><a href="{{url_for('viewItems', category_id=i.id)}}" class='
				category
				'>{{i.name}}</a></p>
		</div>
		{% endfor %}
<br/><br/><br/><br/><br/>

<a href="{{url_for('viewCategoriesJSON')}}" class = '
	source
	'>View in JSON format</a><br/>
<p class = 'source'>{{Source}}</p>

</div>

</body>

</html>
