<!DOCTYPE html>
<html lang="en">

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<title>NewItem</title>
	</head>

<body>
<div class = 'pane'>
	<!--MESSAGE FLASHING -->
	{% with messages = get_flashed_messages() %}
	{% if messages %}

	{% for message in messages %}
		<p class='flashError'><strong>{{message}}</strong></p>
		{% endfor %}
	{% endif %}
	{% endwith %}
	<!--END of MESSAGE FLASHING -->

<h1>{{'''add new Item to Category "'''}}{{chosenCategory.name}}{{'''" :'''}}</h1>

<form action="{{url_for('addNewItem', category_id=category_id )}}" method = 'POST'>
<p>Name:</p>
<input type='text' size='50' maxlength='50' name='name'>
<p>Description:</p>
<textarea rows="25" cols="50" type='text' size='150' maxlength='25000'
	name="description" autocomplete='on'></textarea><br/><br/>
<p>Please secure your item with a 5 characters PIN-password.<br/>
Updating or deleting this item will require this PIN,<br/>
so please keep it in a safe place.</p>
<p>PIN:</p>
<input type='text' size='5' maxlength='5' name="item_pin"><br/><br/>
<input type='submit' value='Save'>
<a href="{{url_for('viewItems', category_id=category_id)}}"> Cancel </a><br/>
</form>

</div>
</body>

</html>
