<!DOCTYPE html>
<html lang="en">

<head>
	<link rel=stylesheet type=text/css href="{{ url_for(
			'static', filename='styles.css'
			) }}">
	<title>EditItem</title>
	</head>

<body>
<div class = 'pane'>

	<!--MESSAGE FLASHING -->
	{% with messages = get_flashed_messages() %}
	{% if messages %}

	{% for message in messages %}
	  <p class='flashError'><strong>{{message}}</strong></p>
	  {% endfor %}
	{% endif %}
	{% endwith %}
	<!--END of MESSAGE FLASHING -->

<h1>{{'edit Item'}}</h1>

<form action="{{
	url_for('editItem', category_id=item.category_id, item_id=item.id)
	}}" method = 'POST'>
<p>Update name of item '{{item.name}}' <br/>
	in category '{{editedCategory.name}}':</p>
<input type='text' size='50' maxlength='50' name="name" autocomplete='on'
	placeholder="{{ item.name }}">
<p>Update item description:</p>
<textarea rows="25" cols="50" type='text' size='150' maxlength='25000'
	name="description" autocomplete='on'
	placeholder="{{ item.description}}">
</textarea>
<p>Enter PIN to make changes:</p>
<input type='text' size='5' maxlength='5' name="item_pin" autocomplete='on'>
<br/><br/>

<input type='submit' value='Save'>
<a href="{{url_for('viewItems', category_id=item.category_id)}}"> Cancel </a>
<br/>
<br/>
</form>

</div>
</body>

</html>
