<!DOCTYPE html>
<html lang="en">

<head>
	<link rel=stylesheet type=text/css href="{{ url_for(
			'static', filename='styles.css'
			) }}">
	<title>DeleteItem</title>
	</head>

<body>
<div class = 'pane'>
	<!--MESSAGE FLASHING -->
	{% with messages = get_flashed_messages() %}
	{% if messages %}

	{% for message in messages %}
		<p class='flashError'><strong>{{message}}</strong></p>
		{% endfor %}
	{% endif %}
	{% endwith %}
	<!--END of MESSAGE FLASHING -->

<h1>Are you sure you want to delete {{itemTemplate6.name}} ?</h1>
<p>Enter PIN to proceed:</p>

<form action="{{url_for(
		'deleteItem', category_id=itemTemplate6.category_id,
		item_id=itemTemplate6.id
		)}}" method = 'POST'>
	<input type='text' size='5' maxlength='5' name="item_pin" autocomplete='on'>
	<br/><br/>
	<input type='submit', value='Save'>
	<a href="{{url_for(
			'viewItems', category_id=itemTemplate6.category_id
			)}}"> Cancel </a>
</form>

</div>

</body>

</html>
