<!DOCTYPE html>
<html lang="en">
<head>
  <link rel=stylesheet type=text/css>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: auto}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>
  <!--HEADER -->
  <div>
    <img src="/static/banner.jpg" alt="banner picture" class="img2" height=90% width=100%>
  </div>
  <!--END of HEADER -->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href = "{{url_for('viewCategories')}}">Home</a>
        </li>
        <li><a href="{{url_for('privacyPolicy')}}">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <!--
     <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p> -->
  <!--    <img src="/static/Pflanze.png" alt="plant picture" height=100% width=100%>
  -->
    </div>


    <div class="col-sm-8 text-left">

      <h1>About</h1>

      <hr>

      <p>This website shows some of the back-end abilities of Marga who
        owns and developed it by her own as part of the Full Stack Web
        Developer Course which took place in English language. It was
        designed for computers with recently updated browsers and the columns
        had been deisgned for no meaningfull display for mobile phones or
        smaller tablets, even if the content is displayed. </p>

      <p>The website resides on a popular webserver and had been equiped
        with highest security measures. It can be remotely accessed
        only by Marga on the basis of the special port number chosen,
        her private key and additional passwords. Relevant files and
        directories had been secured (chmod), other accounts had been
        disabled.</p>

      <p>Furthermore, this website consists of a CRUD (create,read,update,
        delete) functionality, routing, uses sessions state to keep
        information about the login status of the user. Moreover, it has a
        JSON endpoint, a secured deleting option ('delete' button has been
        secured so that only logged in users can delete items that they'd
        created before). It had been built as a mod WSGI app in Python flask
        with Postgre SQL database. Last but not least, the front end
        appearance had been built in bootstrap framework.</p>

      <p>Please be informed that the 3rd party (Google) authorization
        signin/out (authorization token/client id, RESTfull API,
        AJAX call etc.) did correctly function initially. Currently,
        the login button does not enable a correct login and proper
        logout, because the Google's limit for developer account for
        100 logins had been exceeded and therefore Google dismisses logins
        from this domane now.</p>

      <p>This project had been built with iterative development and all
        code is pep,html,css compliant and of course neetly formatted.</p>

      <p>This site is for testing reasons only and all information about the
        users are instantly deleted after their logout. Please feel free to
        add a new accounting item which you can edit afterwards.</p>

    </div>

    <div class="col-sm-2 sidenav">
    <!--  <div class="well">
        <figure class="creator">
  				Author:
  				<img src="/static/image12.jpg" alt="Smiley face" height=100% width=100%>
  				<figcaption>Marga B.</figcaption>
  			</figure>
      </div> -->
    </div>

  </div>
</div>

<footer class="container-fluid text-center">
  <p>Source of used text and photos: https://en.wikipedia.org/wiki/Accounting | Designed by: Marga</p>
</footer>

</body>
</html>
